body {

    overflow-x: hidden;

    #banniere {
        img {
             width: 100vw;
        }
    }

    #pictoText {
        display: flex;
        justify-content: center;
        align-items: center;

        #picto {
            padding: 60px;
        }

        img {
            width: 380px;
        }

        #text {
            width: 530px;
            font-family: 'Jaldi', sans-serif;
        }
    }

    #cta {
        display: flex;
        justify-content: center;

        a{
            text-decoration: none;
            font-family: 'Jaldi', sans-serif;
            background-color: #172C49;
            color: #FFFFFF;
            padding: 20px 60px;
            border-radius: 5px;
        }
    }
}






