<footer>
    <div>
        <a href="index.php"><img src="{{ asset('img/logo.png')}}" alt="logo_DoNow"></a>
    </div>

    <nav>
        <a href="#">Conditions d'utilisations</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">Mentions légales</a>
        <a href="{{ path('app_contact')}}">Contact</a>
    </nav>
</footer>