<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}DoNow{% endblock %}</title>
        <link rel="icon" href="https://santealalune.files.wordpress.com/2013/11/check.jpg">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% block header %}
        {% include '/_components/header.html.twig' %}
    {% endblock %}

    {% block body %}

    {% endblock %}

    {% block footer %}
        {% include '/_components/footer.html.twig' %}
    {% endblock %}
    </body>
</html>
